
body {
  margin: 0;
  font: 400 1em / 1.5em 'Source Sans Pro',sans-serif;
  font-family: -apple-system,BlinkMacSystemFont,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.42857;
  color: #333;
}

p {
  margin: 0;
}

textarea {
  color: #333;
}

.demo-router-wrap {
    position: relative;
    overflow: hidden;
}

.demo-router-wrap > .queue-anim-leaving {
  position: absolute!important;
  width:100%;
}

.fade-enter{
    opacity: 0;
 }
 .fade-exit{
    opacity: 1;
 }
 .fade-enter-active{
    opacity: 1;
 }
 .fade-exit-active{
    opacity: 0;
 }
 .fade-enter-active,
 .fade-exit-active{
    transition: opacity 400ms;
 }
